.comment-container {
  display: flex;
  gap: 50px;
  align-items: center;
  text-align: left;
}
.comment-container button {
  width: 30px;
  padding: 8px;
  border-color: #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: azure;
  font-size: 12px;
}
